@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff9e8;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff9e8;
}

header {
    height: 8vh;
}

header i {
    color: #fff9e8;
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    color: #fff9e8;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 25px;
}

a:hover {
    text-decoration: underline;
}

#reset {
    height: 8vh;
    background-color: #4290E8;
    margin: 12px auto; 
    border-radius: 20px;
    font-size: 120%;
    width: 20vw;
    display: inline-block;
}

#home {
    height: 8vh;
    background-color: #4290E8;
    margin: 12px auto; 
    border-radius: 20px;
    font-size: 120%;
    width: 20vw;
    display: inline-block;
}

/* ---------------------------------------------------------Game Area Style---------------------------------------------------------  */

#game-area {
    display: grid;
    grid-template-columns: 1rem 1fr 20vw 1fr 1rem;
    grid-template-rows: 60% 20% 20%;
    margin: 20px auto;
    background-color: #4290E8;
    border-radius: 20px;
    width: 75vw;
    height: 75vh;
    padding: 20px;
    gap: 20px;
    justify-items: center;
}

.card {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    min-height: 100%;
    min-width: 100%;
}

#scoreP {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 150%;
    font-weight: bold;
}

#cover {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    width: 15vw;
    min-width: 16.25rem;
    height: 40px;
    position: relative;
    top: 92%;
    background-color: #0D1F38;
    border-radius: 10px;
}

#next-btn {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    height: 50px;
    width: 10vw;
    min-height: min-content;
    min-width: min-content;
    display: none;
}

.btn {
    border-radius: 10px;
    background-color: #0D1F38;
    color: whitesmoke;
    font-size: 100%;
}

.btn:hover {
    background-color: whitesmoke;
    color: #0D1F38;
}

/* ---------------------------------------------------------Win/Loss Screen Styling---------------------------------------------------------  */

#end-title {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: none;
}

#end-sentence {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    position: relative;
    top: 10vh;
    display: none;
}

#play-again {
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    height: 50px;
    width: 10vw;
    min-height: min-content;
    min-width: min-content;
    display: none;
}

/* ---------------------------------------------------------Question Button Styling---------------------------------------------------------  */

.q1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.q2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.q3 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.q4 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.question {
    width: 10vw;
    min-width: min-content;
    height: 50px;
    min-height: min-content;
}

/* ---------------------------------------------------------Specific Card styles---------------------------------------------------------  */

.card00 {
    background: url('../images/00-the-fool.jpg') no-repeat center center / contain;
    display: none;
}

.card01 {
    background: url('../images/01-the-magician.jpg') no-repeat center center / contain;
    display: none;
}

.card02 {
    background: url('../images/02-the-high-priestess.jpg') no-repeat center center / contain;
    display: none;
}

.card03 {
    background: url('../images/03-the-empress.jpg') no-repeat center center / contain;
    display: none;
}

.card04 {
    background: url('../images/04-the-emperor.jpg') no-repeat center center / contain;
    display: none;
}

.card05 {
    background: url('../images/05-the-hierophant.jpg') no-repeat center center / contain;
    display: none;
}

.card06 {
    background: url('../images/06-the-lovers.jpg') no-repeat center center / contain;
    display: none;
}

.card07 {
    background: url('../images/07-the-chariot.jpg') no-repeat center center / contain;
    display: none;
}

.card08 {
    background: url('../images/08-strength.jpg') no-repeat center center / contain;
    display: none;
}

.card09 {
    background: url('../images/09-the-hermit.jpg') no-repeat center center / contain;
    display: none;
}

.card10 {
    background: url('../images/10-wheel-of-fortune.jpg') no-repeat center center / contain;
    display: none;
}

.card11 {
    background: url('../images/11-justice.jpg') no-repeat center center / contain;
    display: none;
}

.card12 {
    background: url('../images/12-the-hanged-man.jpg') no-repeat center center / contain;
    display: none;
}

.card13 {
    background: url('../images/13-death.jpg') no-repeat center center / contain;
    display: none;
}

.card14 {
    background: url('../images/14-temperance.jpg') no-repeat center center / contain;
    display: none;
}

.card15 {
    background: url('../images/15-the-devil.jpg') no-repeat center center / contain;
    display: none;
}

.card16 {
    background: url('../images/16-the-tower.jpg') no-repeat center center / contain;
    display: none;
}

.card17 {
    background: url('../images/17-the-star.jpg') no-repeat center center / contain;
    display: none;
}

.card18 {
    background: url('../images/18-the-moon.jpg') no-repeat center center / contain;
    display: none;
}

.card19 {
    background: url('../images/19-the-sun.jpg') no-repeat center center / contain;
    display: none;
}

.card20 {
    background: url('../images/20-judgement.jpg') no-repeat center center / contain;
    display: none;
}

.card21 {
    background: url('../images/21-the-world.jpg') no-repeat center center / contain;
    display: none;
}